**/node_modules
**/build
**/dist
**/.git
**/.gitignore
**/__pycache__
**/*.pyc
**/venv
**/.venv
**/.env
**/.env.*
**/.DS_Store
**/.idea
**/.vscode
**/ios
**/android
**/*.log
**/coverage
**/.next
**/.cache
**/*.backup
